@font-face {
    font-family: "Perfect DOS VGA 437";
    src: url('VGA.ttf');
}

@font-face {
    font-family: "Zpix (最像素)";
    src: url('zpix.ttf');
}


body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Perfect DOS VGA 437', monospace;
    text-shadow: 0 0 20px rgba(255, 255, 255); 
    overflow: hidden;
}

#container {
    text-align: center;
    display: none; 
}

img {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0); 
    box-shadow: 0 0 20px rgba(255, 255, 255); 
    max-width: 150px; 
}

#main-text {
    font-size: clamp(30px, 10vw, 40px); 
    margin-bottom: 15px;
    text-shadow: 0 0 20px rgba(255, 255, 255); 
}

#footer {
    font-size: clamp(16px, 10vw, 24px); 
    margin-bottom: 25px;
    text-shadow: 0 0 20px rgba(255, 255, 255);
}

.icon-icon {
    font-size: 32px;
    color: rgb(255, 255, 255); 
    text-shadow: 0 0 20px rgba(255, 255, 255);
}

button {
    background-color: transparent; 
    border: none;
    padding: 0; 
    cursor: pointer;
    margin: 8px; 
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0); 
}

button:hover {
    transform: translateY(-3px); 
}

a {
    text-decoration: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-right: 2px solid rgba(255, 255, 255) }
}

.typewriter {
    overflow: hidden; 
    border-right: 1px solid rgba(255, 255, 255); 
    white-space: nowrap;
    font-family: 'Zpix (最像素)', monospace; 
    animation: typing 1s steps(40, end), flicker 0.15s infinite; 
}

#click-me {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 0 0 12px rgba(255, 255, 255); 
    cursor: pointer;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 20px rgba(255, 255, 255); }
    to { text-shadow: 0 0 30px rgba(255, 255, 255); }
}

.snowflake {
    top: 0;
    left: 0;
    position: fixed;
    color: #fff;
    font-size: 15px;
    z-index: 9999;
    pointer-events: none;
    animation-name: snowflakes-fall, glow;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite;
    animation: flicker 0.15s infinite;
}

@keyframes snowflakes-fall {
    100% {
        transform: translateY(-10vh) rotateZ(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotateZ(360deg);
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}